*.swp
*.log
.DS_Store
node_modules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

lemonparty2018-venv

localsettings.py
rsvps
static/photos
lemonparty-photos - photos.csv
