.body-gifts {
  &-signature {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    height: 40px;
    background: url("/static/images/signature.png") center center no-repeat;
    background-size: contain;
  }
}
