.body-gifts {
  &-list {
    margin-top: 10px !important;
    list-style: disc;

    li {
      margin-top: 5px;
      margin-left: 25px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-signature {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    height: 40px;
    background: url("/static/images/signature.png") center center no-repeat;
    background-size: contain;
  }
}
