$button-width: 120px;
$button-height: 60px;

.body-home {
  &-rsvp-link {
    display: block;
    position: relative;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: $button-width;
    height: $button-height;
    margin-top: 40px;

    text-decoration: none;
    background: saddlebrown;
    box-shadow: -8px 8px 0 #000;

    color: magenta;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: $button-height;
    text-align: center;

    &:hover {
      box-shadow: -24px 12px 0 #000;
    }
  }
}
