@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.body-rsvp {
  $form-shadow-color: mix(purple, yellow);

  &-form {
    margin-top: 20px;
    padding: 20px 20px 30px;
    background: lighten(yellow, 15%);
    border: 5px solid cyan;
    border-radius: 8px;
    box-shadow: -12px -16px $form-shadow-color;
    width: 100%;
    max-width: 500px;
    @include center;

    @media (max-width: 380px) {
      box-shadow: -8px -16px $form-shadow-color;
    }
  }

  fieldset {
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }
  }

  input[type=text] {
    padding: 8px;
    min-width: 200px;
  }

  input[type=radio] {
    position: relative;
    bottom: 2px;
  }

  &-label {
    display: block;
    width: 100%;
    font-weight: 500;
    margin-bottom: 5px;
  }

  // default empty-string Are You Going? response
  &-going-default {
    position: absolute !important; // and this is why it's bad to target element tags
    opacity: 0;
    width: 0;
    height: 0;
  }

  &-submit-button {
    @include button;
  }

  // statuses
  // --------

  &-error {
    display: none;
    color: red;
  }

  &-success {
    display: none;
    position: relative;
    overflow: hidden;
    color: green;
    animation: marquee 7s linear infinite;
  }
}
