@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.body-rsvp {
  // default empty-string Are You Going? response
  &-going-default {
    opacity: 0;
    width: 0;
    height: 0;
  }

  // statuses
  // --------

  &-error {
    display: none;
    color: red;
  }

  &-success {
    display: none;
    position: relative;
    overflow: hidden;
    color: green;
    animation: marquee 7s linear infinite;
  }
}
