.body-schedule {
  &-header {
    display: block;
    @include h2;
  }

  &-time {
    color: magenta;
    font-weight: bold;
  }

  &-event {
    display: inline-block;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
