.body-stuff {
  &-nav {
    @include center;
    display: inline-block;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &-item {
      display: inline-block;
      padding: 10px;

      &:first-child {
        margin-left: 0;
      }

      a {
        @include link;
      }
    }
  }

  &-section-title {
    font-weight: bold;
    font-style: italic;
  }

  &-item {
    display: inline-block;
    margin-top: 10px;
  }
}
