/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  min-height: 100%; }
  body.logged-in {
    min-height: 100vh;
    padding: 217.6px 4vw 100px;
    background-image: url("/static/images/shitty-half-lemon.png");
    background-repeat: repeat-x;
    background-position: bottom;
    font-size: 18px;
    line-height: 26px;
    background-color: yellow;
    color: #009999; }
    @media (max-width: 500px) {
      body.logged-in {
        padding-top: 272px; } }

.page-title {
  display: inline-block;
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
  font-size: 88px;
  letter-spacing: 3px;
  color: springgreen;
  font-weight: bold;
  text-shadow: 0px 0px 0 #7000a0, 1px 1px 0 #7000a0, 2px 2px 0 #7000a0, 3px 3px 0 #7000a0, 4px 4px 0 #7000a0, 5px 5px 0 #7000a0, 6px 6px 0 #7000a0, 7px 7px 0 #7000a0, 8px 8px 0 #7000a0, 9px 9px 0 #7000a0, 10px 10px 0 #7000a0, 11px 11px 0 #7000a0, 12px 12px 0 #7000a0, 13px 13px 0 #7000a0, 14px 14px 0 #7000a0, 15px 15px 0 #7000a0, 16px 16px 0 #7000a0, 17px 17px 0 #7000a0, 18px 18px 0 #7000a0, 19px 19px 0 #7000a0, 20px 20px 0 #7000a0, 21px 21px 0 #7000a0, 22px 22px 0 #7000a0, 23px 23px 0 #7000a0, 24px 24px 0 #7000a0, 25px 25px 0 #7000a0, 26px 26px 0 #7000a0, 27px 27px 0 #7000a0, 28px 28px 0 #7000a0, 29px 29px 0 #7000a0, 30px 30px 0 #7000a0; }

.text {
  position: relative;
  left: 50%;
  width: 100%;
  max-width: 550px;
  transform: translateX(-50%); }
  .text + .text {
    margin-top: 20px; }

.nav {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 272px;
  padding: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start; }
  .nav-bg {
    position: absolute;
    z-index: 1;
    top: -180px;
    left: -25%;
    width: 150%;
    height: 272px;
    background: turquoise;
    transform: rotate(8deg);
    box-shadow: 0 4px 0 red; }
    @media (min-width: 900px) {
      .nav-bg {
        transform: rotate(3deg); } }
    @media (max-width: 500px) {
      .nav-bg {
        top: -150px; } }
    @media (max-width: 350px) {
      .nav-bg {
        top: -100px; } }
  .nav-link {
    position: relative;
    z-index: 2;
    display: inline-block;
    height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffc04d;
    text-shadow: 0px 0px 0 #000, 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000, 5px 5px 0 #000, 6px 6px 0 #000, 7px 7px 0 #000, 8px 8px 0 #000, 9px 9px 0 #000, 10px 10px 0 #000, 11px 11px 0 #000, 12px 12px 0 #000, 13px 13px 0 #000, 14px 14px 0 #000, 15px 15px 0 #000, 16px 16px 0 #000, 17px 17px 0 #000, 18px 18px 0 #000, 19px 19px 0 #000, 20px 20px 0 #000, 21px 21px 0 #000, 22px 22px 0 #000, 23px 23px 0 #000, 24px 24px 0 #000, 25px 25px 0 #000, 26px 26px 0 #000, 27px 27px 0 #000, 28px 28px 0 #000, 29px 29px 0 #000, 30px 30px 0 #000; }
    .nav-link:hover {
      color: springgreen; }
    .nav-link.active {
      transform: rotate(157deg);
      color: magenta; }

.page-login {
  min-height: 100%;
  background: yellow;
  color: chartreuse;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 12vw;
  line-height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#lemon-canvas {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.login-form {
  position: relative;
  z-index: 2;
  width: 90vw;
  max-width: 250px;
  margin-bottom: -12vw;
  background: rgba(0, 0, 0, 0.8);
  padding: 3vw;
  line-height: 14px; }
  @media (min-width: 1100px) {
    .login-form {
      padding-right: 30px;
      padding-left: 30px; } }
  .login-form-input, .login-form-button {
    float: left;
    border: none;
    height: 30px; }
  .login-form-input {
    width: 70%;
    margin-right: 3%;
    padding-right: 3%;
    padding-left: 3%;
    color: limegreen; }
    .login-form-input:focus {
      outline: none; }
  .login-form-button {
    width: 27%;
    background-color: fuchsia;
    color: aqua; }
    .login-form-button:active {
      background-color: aqua;
      color: fuchsia; }
    .login-form-button:focus {
      outline: none; }
  .login-form-error {
    float: left;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: red; }

.page-home-rsvp-link {
  display: block;
  position: relative;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 60px;
  margin-top: 40px;
  text-decoration: none;
  background: purple;
  color: springgreen;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
  box-shadow: -8px 8px 0 #000; }
  .page-home-rsvp-link:hover {
    box-shadow: -24px 12px 0 #000; }
