/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

.nav {
  margin-bottom: 54.4px;
  padding: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .nav-bg {
    position: absolute;
    z-index: 1;
    top: -200px;
    left: -25%;
    width: 150%;
    height: 272px;
    background: lightgray;
    transform: rotate(8deg); }
    @media (max-width: 500px) {
      .nav-bg {
        top: -150px; } }
    @media (max-width: 350px) {
      .nav-bg {
        top: -100px; } }
  .nav-link {
    position: relative;
    z-index: 2;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; }
    .nav-link.active {
      transform: rotate(157deg); }

.page-login {
  min-height: 100%;
  background: yellow;
  color: chartreuse;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 12vw;
  line-height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#lemon-canvas {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.login-form {
  position: relative;
  z-index: 2;
  width: 90vw;
  max-width: 250px;
  margin-bottom: -12vw;
  background: rgba(0, 0, 0, 0.8);
  padding: 3vw;
  line-height: 14px; }
  .login-form-input, .login-form-button {
    float: left;
    border: none;
    height: 30px; }
  .login-form-input {
    width: 70%;
    margin-right: 3%;
    padding-right: 3%;
    padding-left: 3%;
    color: limegreen; }
    .login-form-input:focus {
      outline: none; }
  .login-form-button {
    width: 27%;
    background-color: fuchsia;
    color: aqua; }
    .login-form-button:active {
      background-color: aqua;
      color: fuchsia; }
    .login-form-button:focus {
      outline: none; }
  .login-form-error {
    float: left;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: red; }
