/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  min-height: 100%; }
  body.logged-in {
    min-height: 100vh;
    padding: 217.6px 4vw 150px;
    background-image: url("/static/images/bottom-lemon.png");
    background-repeat: repeat-x;
    background-position: bottom;
    font-size: 18px;
    line-height: 26px;
    background-color: yellow;
    color: saddlebrown; }
    @media (max-width: 500px) {
      body.logged-in {
        padding-top: 272px; } }

.page-title {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 100%;
  max-width: 800px;
  padding-bottom: 100px;
  text-align: center;
  letter-spacing: 3px;
  color: #67330e;
  font-weight: bold;
  text-shadow: 0px 0px 0 magenta, 0.48px 0.88px 0 magenta, 0.96px 1.76px 0 magenta, 1.44px 2.64px 0 magenta, 1.92px 3.52px 0 magenta, 2.4px 4.4px 0 magenta, 2.88px 5.28px 0 magenta, 3.36px 6.16px 0 magenta, 3.84px 7.04px 0 magenta, 4.32px 7.92px 0 magenta, 4.8px 8.8px 0 magenta, 5.28px 9.68px 0 magenta, 5.76px 10.56px 0 magenta, 6.24px 11.44px 0 magenta, 6.72px 12.32px 0 magenta, 7.2px 13.2px 0 magenta, 7.68px 14.08px 0 magenta, 8.16px 14.96px 0 magenta, 8.64px 15.84px 0 magenta, 9.12px 16.72px 0 magenta, 9.6px 17.6px 0 magenta; }
  @media (min-width: 650px) {
    .page-title {
      margin: -20px 0;
      font-size: 88px;
      line-height: 100px; } }
  @media (max-width: 650px) {
    .page-title {
      margin: -8vw 0;
      font-size: 13vw;
      line-height: 13vw; } }

em {
  font-style: italic;
  letter-spacing: 1px; }

.text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 550px; }
  .text + .text {
    margin-top: 20px; }
  .text a {
    color: saddlebrown;
    background: pink;
    text-decoration: none; }
    .text a:hover {
      background: orange; }

.nav {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 272px;
  padding: 4vw; }
  @media (min-width: 1000px) {
    .nav {
      padding: 60px; } }
  .nav-bg {
    position: absolute;
    z-index: 1;
    top: -180px;
    left: -25%;
    width: 150%;
    height: 272px;
    background: turquoise;
    transform: rotate(8deg);
    box-shadow: 0 12px 0 pink; }
    @media (min-width: 1000px) {
      .nav-bg {
        top: -170px; } }
    @media (min-width: 900px) {
      .nav-bg {
        transform: rotate(3deg); } }
    @media (max-width: 500px) {
      .nav-bg {
        top: -150px; } }
    @media (max-width: 390px) {
      .nav-bg {
        top: -100px; } }
  .nav-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    max-width: 1000px;
    margin: 0 auto; }
  .nav-link {
    position: relative;
    z-index: 2;
    display: inline-block;
    height: 50px;
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 50px;
    padding: 0 10px;
    font-weight: bold;
    text-decoration: none;
    color: #ffc966;
    text-shadow: 0 0 2px #000, 0px 0px 0 #000, 1.2px 1px 0 #000, 2.4px 2px 0 #000, 3.6px 3px 0 #000, 4.8px 4px 0 #000, 6px 5px 0 #000, 7.2px 6px 0 #000, 8.4px 7px 0 #000, 9.6px 8px 0 #000, 10.8px 9px 0 #000, 12px 10px 0 #000; }
    .nav-link:hover {
      color: springgreen; }
    .nav-link.active {
      transform: rotate(157deg);
      left: 10px;
      color: magenta; }

.body-login {
  min-height: 100%;
  background: yellow;
  color: chartreuse;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 12vw;
  line-height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#lemon-canvas {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.login-form {
  position: relative;
  z-index: 2;
  width: 90vw;
  width: 300px;
  margin-bottom: -12vw;
  background: rgba(0, 0, 0, 0.6);
  padding: 3vw;
  line-height: 14px; }
  @media (min-width: 1100px) {
    .login-form {
      padding-right: 30px;
      padding-left: 30px; } }
  .login-form, .login-form-input, .login-form-button {
    border-radius: 8px; }
  .login-form-input, .login-form-button {
    float: left;
    border: none;
    height: 30px; }
  .login-form-input {
    width: 70%;
    margin-right: 3%;
    padding-right: 5%;
    padding-left: 5%;
    color: limegreen; }
    .login-form-input:focus {
      outline: none; }
  .login-form-button {
    width: 27%;
    background-color: fuchsia;
    color: aqua; }
    .login-form-button:active {
      background-color: aqua;
      color: fuchsia; }
    .login-form-button:focus {
      outline: none; }
  .login-form-error {
    float: left;
    margin-top: 10px;
    margin-bottom: -10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: red; }

.body-home-rsvp-link {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 2;
  width: 120px;
  height: 60px;
  margin-top: 50px;
  text-decoration: none;
  background: saddlebrown;
  box-shadow: -8px 8px 0 #000;
  color: magenta;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 60px;
  text-align: center; }
  .body-home-rsvp-link:hover {
    box-shadow: -24px 12px 0 #000; }

@media (min-width: 650px) {
  .body-location iframe {
    position: relative;
    left: 50%;
    transform: translateX(-50%); } }

@media (max-width: 650px) {
  .body-location iframe {
    width: 100%; } }

.body-stuff-nav {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .body-stuff-nav-item {
    display: inline-block;
    padding: 10px; }
    .body-stuff-nav-item:first-child {
      margin-left: 0; }
    .body-stuff-nav-item a {
      color: saddlebrown;
      background: pink;
      text-decoration: none; }
      .body-stuff-nav-item a:hover {
        background: orange; }

.body-stuff-section-title {
  font-weight: bold;
  font-style: italic; }

.body-stuff-item {
  display: inline-block;
  margin-top: 10px; }

@keyframes marquee {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

.body-rsvp-going-default {
  opacity: 0;
  width: 0;
  height: 0; }

.body-rsvp-error {
  display: none;
  color: red; }

.body-rsvp-success {
  display: none;
  position: relative;
  overflow: hidden;
  color: green;
  animation: marquee 7s linear infinite; }
