{% set nav_items = [
  ('home', 'Home'),
  ('location', 'Location'),
  ('schedule', 'Schedule'),
  ('rsvp', 'RSVP'),
  ('where_to_stay', 'Where to stay'),
  ('stuff_to_do', 'Stuff to do'),
  ('gifts', 'Gifts'),
  ('contact', 'Contact'),
] -%}

<nav class="nav">
  <div class="nav-bg"></div>
  <div class="nav-content">
    {% for route, title in nav_items %}
      <a
        class="nav-link {% if active_page == route %}active{% endif %}"
        href="{{ url_for(route) }}"
      >
        {{ title }}
      </a>
    {% endfor %}
  </div>
</nav>
