{% set nav_items = [
  ("home", "Home"),
  ("location", "Location"),
  ("schedule", "Schedule"),
  ("hotels", "Hotels"),
  ("stuff-to-do", "Stuff to do"),
  ("gifts", "Gifts"),
  ("contact", "Contact"),
] -%}

<nav class="nav">
  <div class="nav-bg"></div>
  <div class="nav-content">
    {% for href, title in nav_items %}
      <a
        class="nav-link {% if active_page == href %}active{% endif %}"
        href="/{{ href }}"
      >
        {{ title }}
      </a>
    {% endfor %}
  </div>
</nav>
