{% extends '_base.html' %}
{% set title = 'Contact' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-contact{% endblock %}
{% set active_page = 'contact' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    <span class="body-contact-header">Our emails:</span>
    <br>
    Katherine: <a href="mailto:katherine.erickson@gmail.com">katherine.erickson@gmail.com</a>
    <br>
    Michael: <a href="mailto:me@mgeraci.com">me@mgeraci.com</a>
    <br>
    Muxy: <a href="mailto:muxyericksongeraci@gmail.com">muxyericksongeraci@gmail.com</a>
  </p>

  <p class="text">
    <span class="body-contact-header">Our address:</span>
    <br>
    4831 Peabody St.
    <br>
    Duluth, MN 55804
  </p>
{% endblock %}
