{% extends '_base.html' %}
{% set title = 'Gifts' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-gifts{% endblock %}
{% set active_page = 'gifts' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    Spending your weekend with us in Duluth is more than gift enough! We are
    grateful that you’ve chosen to come hang out with us, and know that many of
    you are already spending a bundle traveling to Duluth. So, seriously, don’t
    feel like you need to get us anything!
  </p>

  <p class="text">
    But if you’d like to give us something, you can volunteer to help out with
    stuff at the wedding; we’d appreciate any assistance!
  </p>

  <p class="text">
    If you insist on giving a gift, we have a few ideas:
  </p>

  <ul class="text body-gifts-list">
    <li>
      Make a donation to
      <a href="https://action.aclu.org/donate-aclu">the ACLU</a>
      or
      <a href="https://donate.rainforesttrust.org/default.aspx">Rainforest Trust</a>
      in our name. We would love to see them supported!

      {#
      <a href="https://secure.aspca.org/donate/donate">ASPCA</a>
      <a href="https://awionline.org/content/make-donation-awi">Animal Welfare Institute</a>
      <a href="https://abcbirds.org/donate">American Bird Conservancy</a>
      #}
    </li>
    <li>
      Contribute to our honeymoon fund. If you want to do this online, we made
      <a href="https://www.zola.com/registry/lemonparty2018">
        a thing</a>. But not online is fine, too.
    </li>
    <li>
      We have lived together for 8 years, so we have a lot of house stuff. But
      somehow we have only 3 plates and 3 bowls, and they don’t match.
      So we registered for some embarrassingly expensive
      <a href="https://us.mudaustralia.com/giftregistry/?giftregistry_id=56">
        dishes from Mud</a>.
    </li>
  </ul>

  <p class="text">
    <span class="body-gifts-signature"></span>
  </p>
{% endblock %}
