{% extends '_base.html' %}
{% block title %}Home{% endblock %}
{% block bodyclass %}logged-in body-home{% endblock %}
{% set active_page = 'home' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">Katherine and Michael are getting married</h1>

  <p class="text">
    Hello. We are doing this thing on August 4th, 2018 in Duluth, and we are
    thrilled at the prospect of hanging out with you!
  </p>

  <p class="text">
    An update on the dress code: Katherine will be wearing a dress, and Michael
    will be wearing a blazer. A few folks will be wearing suits, but this
    doesn’t mean you have to (and it’s totally okay to not wear a jacket at
    all). “Cheesy motel looks” and lemonwear are not discouraged.
  </p>

  <p class="text">
    If you’re looking for a ride, or have a car with an extra spot, check out
    <a href="https://docs.google.com/spreadsheets/d/14nqi3LkvDRQ-T2yl8x1kaUvYmF39EVsMy_7wcQ9pn7Y/edit?usp=sharing" target="_blank" rel="nofollow">
      this carpooling spreadsheet</a>.
  </p>
{% endblock %}
