{% extends '_base.html' %}
{% set title = 'Location' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-location{% endblock %}
{% set active_page = 'location' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    Our wedding will be in Katherine’s hometown: Duluth, Minnesota.
  </p>

  <p class="text">
    The ceremony and reception will be at <em>Lake Breeze Motel Resort</em>,
    located 15 minutes up the shore from downtown Duluth at
    <a href="https://www.google.com/maps/place/9000+Congdon+Blvd,+Duluth,+MN+55804/@46.8748741,-91.9412126,17z/data=!3m1!4b1!4m5!3m4!1s0x52af00b9b2af62a7:0x72739a0f5b8f359e!8m2!3d46.8748741!4d-91.9390239?hl=en">
      9000 Congdon Boulevard, Duluth, MN 55804</a>.
    Lake Breeze has a heated outdoor pool, and the whole place is ours for the
    weekend, so bring a bathing suit and come hang out!
  </p>

  <p class="text">
    The average temperature range for this weekend is a low of 56º and a high
    of 76º. So expect a lovely day, and bring a sweater and jacket for
    the evening. Unless it rains, in which case we’ll all probably have a
    horrible time.
  </p>

  <p class="text">
    To get to Duluth, you can fly into Duluth International Airport (DLH) or to
    Minneapolis (MSP).
    Flying to DLH is pricey, but super convenient, and charming because there
    are only two gates.
    Flying to MSP is cheaper, but it’s a 2½ hour drive to Duluth.
    The
    <a href="http://dmsp.hudsonltd.net/res">Skyline Shuttle</a>
    ($42 each way) is our preferred public transit option from MSP to Duluth.
  </p>

  <p class="text">
    To get around Duluth, public transit isn’t great. Better options include
    renting a car, using taxis or services like Lyft, or letting us know your
    travel needs so that we (or, let’s be realistic, Katherine’s dad) can
    pick you up! Once we get a better sense of who is staying where, we’ll
    also help to arrange carpools or shuttles to and from the main events.
  </p>
  <br>
  <br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2727.415490104971!2d-91.94121258439472!3d46.87487407914288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52af00b8ef0847d9%3A0x90e24a5837276714!2sLake+Breeze+Motel+Resort!5e0!3m2!1sen!2sus!4v1520208007608" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
{% endblock %}
