{% extends '_base.html' %}
{% set title = 'Location' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-location{% endblock %}
{% set active_page = 'location' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    Our wedding will be in Katherine’s hometown: Duluth, Minnesota.
  </p>

  <p class="text">
    The ceremony and reception will be at
    <a href="http://lakebreeze.com">Lake Breeze Motel Resort</a>,
    located 20 minutes up the shore from downtown Duluth, at
    <a href="https://www.google.com/maps/place/9000+Congdon+Blvd,+Duluth,+MN+55804/@46.8748741,-91.9412126,17z/data=!3m1!4b1!4m5!3m4!1s0x52af00b9b2af62a7:0x72739a0f5b8f359e!8m2!3d46.8748741!4d-91.9390239?hl=en">
      9000 Congdon Boulevard, Duluth, MN 55804</a>.
    Lake Breeze has a heated outdoor pool, and the whole place is ours for the
    weekend, so bring a bathing suit and come hang out!
  </p>

  <p class="text">
    The typical weather for this weekend is a low of 56º and a high of 76º. So
    expect a lovely day, and bring a jacket for the evening. Unless it rains,
    in which case we’ll all probably have a horrible time.
  </p>

  <p class="text">
    To get to Duluth, you can fly to Duluth International Airport (DLH) or to
    Minneapolis (MSP).
    Flying to DLH is pricey, but very convenient, and charming because the
    airport only has two gates.
    Flying to MSP is cheaper, but it’s a 2½ hour drive to Duluth. You can rent
    a car or book a ride on the
    <a href="http://dmsp.hudsonltd.net/res">Skyline Shuttle</a> bus from the
    airport. We also made a
    <a href="https://docs.google.com/spreadsheets/d/14nqi3LkvDRQ-T2yl8x1kaUvYmF39EVsMy_7wcQ9pn7Y/edit?usp=sharing" target="_blank" rel="nofollow">
      carpooling spreadsheet</a>
    to help coordinate rides.
  </p>

  <p class="text">
    To get around Duluth, you can rent a car, use taxis or services like Lyft,
    or let us know your travel plans so that we (or, let’s be realistic,
    Katherine’s dad) can pick you up! There will also be shuttles to the boat
    and to the wedding (see <a href="{{ url_for('schedule') }}">
      schedule</a> for details).
  </p>

  <p class="text">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2727.415490104971!2d-91.94121258439472!3d46.87487407914288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52af00b8ef0847d9%3A0x90e24a5837276714!2sLake+Breeze+Motel+Resort!5e0!3m2!1sen!2sus!4v1520208007608" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </p>
{% endblock %}
