{% extends '_base.html' %}
{% block title %}Lemon Party!{% endblock %}
{% block bodyclass %}body-login{% endblock %}

{% block content %}
  <style>
    html { height: 100%; }
    body { background: yellow; }
  </style>

  <canvas id="lemon-canvas" width="500" height="500"></canvas>

  <form method="post" action="/login" class="login-form">
    <input
      type="password"
      placeholder="password"
      name="password"
      class="login-form-input"
    />

    <input type="hidden" name="after" value="{{after}}" />

    <input type="submit" value="LOG IN" class="login-form-button" />

    {% if authentication_error %}
      <span class="login-form-error">wrong password!</span>
    {% endif %}
  </form>{#
    words must abut brs to remove inline whitespace and ensure centering
  #}<br />LEMON<br>PARTY<br>2018
{% endblock %}
