<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LemonParty2018</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body>
    <canvas id="lemon-canvas" width="500" height="500">
    </canvas>

		<form method="post" action="/login" class="login-form">
			<input
				type="password"
				placeholder="password"
				name="password"
				class="login-form-input"
			/>

			<input type="submit" value="Log in" class="login-form-button" />

			{% if login_error %}
				<span class="login-form-error">wrong password!</span>
			{% endif %}
		</form>

		<br>
		LEMON
		<br>
		PARTY
		<br>
		2018

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
