{% extends "_base.html" %}
{% block title %}RSVP{% endblock %}
{% block bodyclass %}logged-in body-rsvp{% endblock %}
{% set active_page = "rsvp" %}

{% block content %}
  {% include "_nav.html" %}
  <h1 class="page-title">RSVP</h1>

  <p class="text">
    Thanks for RSVPing. If you're confused or have any questions, just
    <a href="/contact">ask</a>!
  </p>

	<form
    action="{{ form_url }}"
		target="_self"
		method="POST"
		id="mG61Hd"
	>

		<fieldset>
			<label for="name">
				Name(s)
			</label>
			<input
        id="name"
        type="text"
        class="quantumWizTextinputPaperinputInput exportInput"
        jsname="YPqjbf"
        autocomplete="off"
        tabindex="0"
        name="entry.1644957506"
        value=""
      />
		</fieldset>

		<fieldset>
			<label>
				Are you going?
			</label>
      <input id="yes" type="radio" name="entry.1258761215" value="Sure." />
      <label for="yes">Sure.</label>
			<br />
			<input id="no" type="radio" name="entry.1258761215" value="Nah." />
      <label for="no">Nah.</label>
		</fieldset>

		<fieldset>
			<input type="submit" />
		</fieldset>

		<input type="hidden" name="fvv" value="1">
		<input type="hidden" name="draftResponse" value="[null,null,&quot;-8056623372887314694&quot;]">
		<input type="hidden" name="pageHistory" value="0">
		<input type="hidden" name="fbzx" value="-8056623372887314694">
	</form>
{% endblock %}
