{% extends '_base.html' %}
{% set title = 'RSVP' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-rsvp{% endblock %}
{% set active_page = 'rsvp' %}

{% block content %}
  {% include '_nav.html' %}
  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    Thanks for RSVPing. If you’re confused, have any questions, or this thing
    doesn’t work because two programmers can’t even make a website,
    <a href="{{ url_for('contact') }}">just ask</a>!
  </p>

  <p class="text">
    Oh, and we didn’t know where to put this, so we’ll put it here: the dress
    code is pretty casual. Maybe Katherine will wear a dress? Michael hopefully
    won’t wear a suit (but probably will wear a jacket). Remember: motel.
  </p>

  <form
    id="rsvp-form"
    class="body-rsvp-form"
    action="/rsvp-response-handler"
    method="POST"
  >

    <fieldset>
      <label for="name" class="body-rsvp-label">
        Your full name(s)
      </label>

      <span class="body-rsvp-note">
        Plus-ones and children/babies are welcome!
      </span>

      <textarea
        id="name"
        autocomplete="off"
        tabindex="0"
        name="name"
        placeholder="Jean-Claude Van Damme"
      ></textarea>
    </fieldset>

    <fieldset>
      <label class="body-rsvp-label">
        Are you coming?
      </label>

      <input
        id="going-default"
        class="body-rsvp-default"
        type="radio"
        name="is_going"
        value=""
        checked="checked"
      />

      <input id="going-yes" type="radio" name="is_going" value="Sure." />
      <label for="going-yes">Sure!</label>

      <br />

      <input id="going-no" type="radio" name="is_going" value="Nah." />
      <label for="going-no">Nah.</label>
    </fieldset>

    <fieldset>
      <label class="body-rsvp-label">
        Are you interested in the boat ride on Friday at 7pm?
      </label>
      <span class="body-rsvp-note">
        We rented a really big boat. Everyone is welcome!
      </span>

      <input
        id="boat-default"
        class="body-rsvp-default"
        type="radio"
        name="boat"
        value=""
        checked="checked"
      />

      <input id="boat-yes" type="radio" name="boat" value="Yes." />
      <label for="boat-yes">I will be in town early and want to come!</label>

      <br />

      <input id="boat-no" type="radio" name="boat" value="No." />
      <label for="boat-no">I do not like boats.</label>
    </fieldset>

    <fieldset>
      <label class="body-rsvp-label">
        Do you think there should be dancing? (optional)
      </label>
      <span class="body-rsvp-note">
        Michael isn’t a fan of dancing, but Katherine thinks folks will
        get bored without it. Weigh in on our first marital dispute!
      </span>

      <input
        id="dancing-default"
        class="body-rsvp-default"
        type="radio"
        name="dancing"
        value=""
        checked="checked"
      />

      <input id="dancing-yes" type="radio" name="dancing" value="Yes." />
      <label for="dancing-yes">
        If I can’t dance I’m leaving a bad review on yelp.
      </label>

      <br />

      <input id="dancing-no" type="radio" name="dancing" value="No." />
      <label for="dancing-no">
        A wedding without dancing? Sign me up!
      </label>
    </fieldset>

    <fieldset>
      <label for="diet" class="body-rsvp-label">
        Dietary restrictions (optional)
      </label>
      <span class="body-rsvp-note">
        As you might imagine, we‘ll have lots of vegan and vegetarian options,
        but please let us know about any additional restrictions.
      </span>
      <textarea
        id="diet"
        autocomplete="off"
        name="diet"
        placeholder="I require a can of SPAM at every meal"
      ></textarea>
    </fieldset>

    <fieldset>
      <label for="notes" class="body-rsvp-label">
        Anything else we should know? (optional)
      </label>
      <textarea
        id="notes"
        autocomplete="off"
        name="notes"
        placeholder="This website is, frankly, horrifying"
      ></textarea>
    </fieldset>

    <fieldset class="body-rsvp-error">
      Oh no, something went wrong!
    </fieldset>

    <fieldset class="body-rsvp-success">
      <span class="body-rsvp-success-content">
        THANKS!!! Hope we see you sooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooon!
      </span>
    </fieldset>

    <fieldset class="body-rsvp-submit">
      <input type="submit" class="body-rsvp-submit-button" value="Submit"/>
    </fieldset>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
{% endblock %}
