{% extends '_base.html' %}
{% set title = 'Schedule' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-schedule{% endblock %}
{% set active_page = 'schedule' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    <span class="body-schedule-header">Friday 8/3</span>

    <span class="body-schedule-event">
      <span class="body-schedule-time">7pm Boat Ride</span>
      If you’re in town, come for a boat ride around Duluth’s harbor. The boat
      will board at 7 at the
      <a href="https://www.google.com/maps/place/Vista+Fleet/@46.781109,-92.0977703,18.18z/data=!4m5!3m4!1s0x52ae5294a3331a3b:0x1133c0eded84ac93!8m2!3d46.78098!4d-92.0970115?hl=en">
        Vista Fleet dock in Canal Park
      </a>,
      depart at 7:30, and bring us back at 9:30. We’ll have food and drinks,
      and if the weather is good, we might even get to go under the Lift Bridge
      and out into the lake! Bring your ID if you plan on drinking.
    </span>
  </p>

  <p class="text">
    <span class="body-schedule-header">Saturday 8/4</span>

    <span class="body-schedule-event">
      <span class="body-schedule-time">Pre-wedding</span>
      There are lots of fun things to do around Duluth! Check out some ideas
      <a href="{{ url_for('stuff_to_do') }}">
        here</a>!
      Folks will also be around Lake Breeze in the afternoon; feel free to head
      there any time if you want to enjoy the pool or other amenities.
    </span>

    <span class="body-schedule-event">
      <span class="body-schedule-time">4pm Wedding</span>
      This is where we get this whole marriage situation sorted out. Let’s try
      and keep this to 15 minutes, alright?
    </span>

    <span class="body-schedule-event">
      <span class="body-schedule-time">4:30pm Post-wedding</span>
      Some people call this a cocktail hour. You can, too. Maybe play some lawn
      games with your cocktails?
    </span>

    <span class="body-schedule-event">
      <span class="body-schedule-time">6pm Post-post-wedding</span>
      After the thing before, then you get more food and can sit down and all
      that, and isn’t that nice?
    </span>
  </p>

  <p class="text">
    <span class="body-schedule-header">Sunday 8/5</span>

    <span class="body-schedule-event">
      <span class="body-schedule-time">10am-12pm Brunch</span>
      We’ll have coffee and breakfast and all that stuff set out in the lodge
      at Lake Breeze. FYI, if you’re staying at Lake Breeze, check-out is at
      11am, but we can hang around the lodge a bit longer.
    </span>
  </p>
{% endblock %}
