{% extends '_base.html' %}
{% set title = 'Schedule' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-schedule{% endblock %}
{% set active_page = 'schedule' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    <span class="body-schedule-header">Friday 8/3</span>

    <span class="body-schedule-event">
      <span class="body-schedule-event-time">7pm: Boat Ride</span>
      If you’re in town, come for a dinner cruise around Duluth’s
      harbor<sup class="text-sup"><a href="#jesse-ventura">1</a></sup>.
      The boat will board at 7 at the
      <a href="https://www.google.com/maps/place/Vista+Fleet/@46.781109,-92.0977703,18.18z/data=!4m5!3m4!1s0x52ae5294a3331a3b:0x1133c0eded84ac93!8m2!3d46.78098!4d-92.0970115?hl=en">
        Vista Fleet dock in Canal Park</a>,
      depart at 7:30, and return at 9:30.
      <em>Note:</em> Unfortunately the boat has a max capacity, 
      so if too many people are interested, 
      not everyone will be able to come.

      <img
        class="body-schedule-event-image body-schedule-event-image--boat"
        src="{{ url_for('static', filename='images/boat.png') }}"
      >
    </span>
  </p>

  <p class="text">
    <span class="body-schedule-header">Saturday 8/4</span>

    <span class="body-schedule-event">
      <span class="body-schedule-event-time">Pre-wedding</span>
      There are lots of fun things to do around Duluth; check out some ideas
      <a href="{{ url_for('stuff_to_do') }}">here</a>!
      Folks will also be around Lake Breeze in the afternoon, so feel free to
      head there any time if you want to enjoy the pool or other amenities.
    </span>

    <span class="body-schedule-event">
      <span class="body-schedule-event-time">4ish? TBD: Wedding</span>
      This is where we get this whole marriage situation sorted out, somewhere
      on the grounds of Lake Breeze. This will take, maybe, 10 minutes?

      <img
        class="body-schedule-event-image body-schedule-event-image--bundt"
        src="{{ url_for('static', filename='images/bundt.png') }}"
      >
    </span>

    <span class="body-schedule-event">
      <span class="body-schedule-event-time">Post-wedding</span>
      Some people call this a cocktail hour. Maybe play some lawn games with
      your cocktails?
    </span>

    <span class="body-schedule-event">
      <span class="body-schedule-event-time">Post-post-wedding</span>
      Now you get more food and can sit down and all that; isn’t that nice?
      Pizza!

      <img
        class="body-schedule-event-image body-schedule-event-image--pizza"
        src="{{ url_for('static', filename='images/pizza.svg') }}"
      >
    </span>
  </p>

  <p class="text">
    <span class="body-schedule-header">Sunday 8/5</span>

    <span class="body-schedule-event">
      <span class="body-schedule-event-time">10am-12pm: Brunch</span>
      Drop by the Lake Breeze lodge for coffee, breakfast, bloody marys,
      and goodbyes.
      No need to be on time (to this, or really any part of the weekend).

      <img
        class="body-schedule-event-image body-schedule-event-image--coffee"
        src="{{ url_for('static', filename='images/coffee.png') }}"
      >
    </span>
  </p>

  <p id="jesse-ventura" class="text footnote">
    1. From the
    <a href="http://www.vistafleet.com/about-us/history/">Vista Fleet’s History page</a>:
    <blockquote class="text-blockquote">
      While he was Governor of Minnesota,
      <a href="https://en.wikipedia.org/wiki/Jesse_Ventura">Jesse Ventura</a>
      was heard saying that Duluth was his favorite tourist destination in the
      state; and when in Duluth his favorite tourist activity was taking a
      cruise on the Vista Fleet.
    </blockquote>
  </p>
{% endblock %}
