{% extends '_base.html' %}
{% set title = 'Where to stay' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-hotels{% endblock %}
{% set active_page = 'where_to_stay' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    Please reach out to us about where you should stay!
    We’re hoping to squeeze a lot of people on-site at Lake Breeze,
    but it is not big enough for everyone.
    We’ve also booked some rooms at a few nearby hotels.
  </p>

  <p class="text">
    So <a href="{{ url_for('contact') }}">just ask</a> and we will see if we
    can pair you up with someone you know in the motel, or hook you up with a
    hotel room!
  </p>
{% endblock %}
