{% extends '_base.html' %}
{% set title = 'Where to stay' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-hotels{% endblock %}
{% set active_page = 'where_to_stay' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    Please reach out to us about where you should stay!
    Lake Breeze is not big enough for everyone, but we’re hoping to squeeze a
    bunch of people on-site.
    As far as other options go, there is a Christian music festival taking
    Duluth <em>by storm</em> the weekend of the wedding, so a bunch of hotels
    are booking up.
    But we’ve reserved a handful of rooms at a couple of different hotels, and
    are happy to help navigate other options, too (including some cabins near
    Lake Breeze, AirBnBs, etc).
    So get in touch and we can help you figure out the best place to stay!
  </p>
{% endblock %}
