{% extends '_base.html' %}
{% set title = 'Where to stay' %}
{% block title %}{{ title }}{% endblock %}
{% block bodyclass %}logged-in body-hotels{% endblock %}
{% set active_page = 'where_to_stay' %}

{% block content %}
  {% include '_nav.html' %}

  <h1 class="page-title">{{ title }}</h1>

  <p class="text">
    Please reach out to us about where you should stay!
    We’re hoping to squeeze a lot of people on-site at Lake Breeze,
    but it is not big enough for everyone, and is mostly multi-room suites (so
    some matchmaking will be required).
    We also have a discount code at one hotel, and know of some cheap cabins
    nearby.
  </p>

  <p class="text">
    So before booking anything yourself, please
    <a href="{{ url_for('contact') }}">check in with us</a>
    so you know all of your options.
  </p>

{% endblock %}
