@import "reset";


// variables
// -----------------------------------------------------------------------------

$nav-height: 272px;


// global styles
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

@import "nav";


// subpages
// -----------------------------------------------------------------------------

@import "login";
