@import "reset";


// variables and mixins
// -----------------------------------------------------------------------------

$nav-height: 272px;
$footer-height: 150px;
$text-color: saddlebrown;
$button-width: 120px;
$button-height: 60px;
$button-box-shadow: -8px 8px 0 #000;

@mixin link {
  color: $text-color;
  background: pink;
  text-decoration: none;

  &:hover {
    background: orange;
  }
}

@mixin center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin button {
  -webkit-appearance: none;
  display: block;
  z-index: 2;
  min-width: $button-width;
  height: $button-height;
  padding: 0 15px;
  margin-top: 50px;

  border: none;
  text-decoration: none;
  background: saddlebrown;
  box-shadow: $button-box-shadow;

  color: magenta;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: $button-height;
  text-align: center;

  &:hover {
    box-shadow: -24px 12px 0 #000;
    cursor: pointer;
  }

  &:disabled:hover {
    box-shadow: $button-box-shadow;
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}


// global styles
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  min-height: 100%;

  &.logged-in {
    min-height: 100vh;
    padding: ($nav-height * 0.8) 4vw $footer-height;
    background-image: url("/static/images/bottom-lemon.png");
    background-repeat: repeat-x;
    background-position: bottom;
    font-size: 18px;
    line-height: 26px;
    background-color: yellow;
    color: $text-color;

    @media (max-width: 500px) {
      padding-top: $nav-height;
    }
  }
}

$text-shadow-values: ();
$text-shadow-color: magenta;

@for $i from 0 through 20 {
  $offset: $i * 0.8px;
  $text-shadow-values: append($text-shadow-values, $offset * 0.6 $offset * 1.1 0 $text-shadow-color);
}

.page-title {
  @include center;
  display: block;
  width: 100%;
  max-width: 800px;
  padding-bottom: 80px;
  text-align: center;
  letter-spacing: 3px;
  color: darken($text-color, 8%);
  font-weight: bold;
  text-shadow: zip($text-shadow-values);

  @media (min-width: 650px) {
    margin: -20px 0;
    font-size: 88px;
    line-height: 100px;
  }

  @media (max-width: 650px) {
    margin: -8vw 0;
    font-size: 13vw;
    line-height: 13vw;
  }
}

em {
  font-style: italic;
  letter-spacing: 1px;
}

@mixin h2 {
  font-weight: bold;
  font-style: italic;
}

.text {
  @include center;
  display: block;
  width: 100%;
  max-width: 550px;

  & + .text {
    margin-top: 20px;
  }

  a {
    @include link;
  }
}

@import "nav";


// subpages
// -----------------------------------------------------------------------------

@import "pages/login";
@import "pages/home";
@import "pages/gifts";
@import "pages/location";
@import "pages/stuff_to_do";
@import "pages/schedule";
@import "pages/rsvp";
